html, body, main, section {
 margin: 0;
 padding: 0;
 border: 0;

 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;

 background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
