main {
  font-family: sans-serif;
  color: white;
}

section {
  float: left;
  border-style: solid;
  border-color: transparent;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section.snake {
  background: red;
  transition: none;
  border-color: red;
}

section.wall {
  border-color: blue;
  transition: border-color 0.25s;
}

section.apple {
  background: green;
  border-color: green;
}

h1.score {
  color: red;
  font-size: 20px;
  position: absolute;
  left: 13px;
  top: 0px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
