main {
  margin: 0px auto;
  border-color: transparent;
  border-style: solid;

  font-family: sans-serif;
  color: white;
  font-size: 40px;
}

section {
  float: left;
  border-style: solid;
  border-color: transparent;
}

section.snake {
  background: red;
  transition: none;
  border-color: red;
}

section.wall-here {
  border-color: blue;
  transition: border-color 0.25s;
}

section.target {
  background: red;
  border-color: red;
}
